<nav
  class="navbar navbar-expand-lg navbar-light"
  style="
    background-image: linear-gradient(
      to right top,
      #9fb4d3,
      #84a2ea,
      #8389fa,
      #9d65fb,
      #c512eb
    );
  "
>
  <div class="container-fluid">
    <i class="fas fa-book-reader fa-2x"></i>
    <li class="nav-item">
      <a
        class="nav-link active"
        style="color: black"
        aria-current="page"
        href="#"
        >Home</a
      >
    </li>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="create">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
